.AuthField {
  display: flex;
  flex-direction: column;

  &__title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 77px;

    margin: 0;

    color: #fff;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: #353535;
    border: none;
    outline: none;
    margin-bottom: 10px;

    cursor: pointer;

    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
    text-transform: uppercase;

    color: #fff;

    height: 40px;

    transition: box-shadow 0.3s, background-color 0.5s;

    &:hover {
      box-shadow: 4px 6px 6px rgba(86, 86, 86, 0.25);
    }

    &:active {
      background-color: #2d2d2d;
    }

    &--active {
      background-color: #131313;
    }
  }

  &__confirm {
    margin-top: 40px;
  }

  &__check {
    background-image: url("../../images/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 20px;
    height: 20px;

    transform: scale(0);

    transition: transform 0.3s;

    &--active {
      transform: scale(1);
    }
  }

  &__info {
    position: relative;

    background-image: url("../../images/info.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;

    &--text {
      position: absolute;
      right: 50%;
      transform: translateX(50%) scale(0);
      top: -20px;

      min-width: max-content;

      padding: 0 4px;

      background-color: #4f4f4f;

      font-size: 8px;
      line-height: 16px;

      transition: transform 0.3s;
    }

    &:hover &--text {
      transform: translateX(50%) scale(1);
    }
  }
}
