.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 50px 0 10px;

  @media (min-height: 500px) {
    padding: 0;
  }

  &__title {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;

    color: #fff;
  }

  &__content {
    margin-top: 40px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: #353535;
    border: none;
    outline: none;

    cursor: pointer;

    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
    text-transform: uppercase;

    width: 70%;

    padding: 10px;
    margin: 20px auto 0;

    color: #fff;

    height: 40px;

    transition: box-shadow 0.3s, background-color 0.5s;

    &:hover {
      box-shadow: 4px 6px 6px rgba(86, 86, 86, 0.25);
    }

    &:active {
      background-color: #2d2d2d;
    }
  }
}
