.Selector {
  &__button {
    padding-right: 8px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #353535;
    border: none;
    outline: none;

    width: 72px;
    height: 72px;

    cursor: pointer;

    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 4px 6px 6px rgba(86, 86, 86, 0.25);
    }
  }

  &__selected {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
    text-transform: uppercase;

    color: #fff;
  }

  &__dropdown {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
  }

  &__element {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    outline: none;

    width: 72px;
    height: 72px;

    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
    text-transform: uppercase;

    color: #fff;

    cursor: pointer;

    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 4px 6px 6px rgba(86, 86, 86, 0.25);
    }
  }
}

.list {
  position: relative;
  transform: scale(0);

  transition: transform 0.5s;

  &--active {
    z-index: 2;
    transform: scale(1);
  }
}
